button, div ,input
{
    margin-top: 1rem;
}

#Main
{
    width: 40%;
    text-align: center;
    margin: auto;
}

#CanvasDiv {
    border-style: solid;
    border-color: black;
}
.body{
    -webkit-text-size-adjust: 100%;
}

#DiskCanvas{
    height: 28vw;
    width:97vw;
}

.RectangleArea{
    height: 28vw;
    width: 97vw;
}

.inputs {
    margin-top: 30vw;
}
input {
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Copperplate Gothic Light", serif;
}

input {
    background: #ecf0f3;
    padding: 1vw;
    padding-left: 2vw;
    height: 5vw;
    font-size: 1.4vw;
    border-radius: 5vw;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 1.4vw 2.2vw;
    border-radius: 3vw;
    background: white;
}

.Button {
    background-color: #fbeee0;
    border: 0.2vw solid #CBCED1FF;
    border-radius: 3vw;
    font-family: "Copperplate Gothic Light", serif;
    box-shadow: #CBCED1FF 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 1.8vw;
    padding: 0 0.8vw;
    line-height: 5vw;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 0.5vw;
}
#CurrentTime{
    font-family: "Copperplate Gothic Light";
    font-size: 1.5vw;

}
.Button:hover {
    background-color: #fff;
}

.Button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}


.TimeInputDiv{
    font-family: "Copperplate Gothic Light";
    margin-bottom: 1vw;
}

@media (min-width: 76.8vm) {
    .Button {
        min-width: 12vw;
        padding: 0 1.5vw;
    }
}

#TimeLabel{
    font-family: "Copperplate Gothic Light";
    font-size: 1.8vw;

}